<h1>ログイン</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(@user, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <%= f.label :email, class:"form-label"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :password, class:"form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-primary btn-block btn-form" %>
  </div>
<% end %>

<p>ユーザー登録は<span><%=link_to"こちら", signup_path %></span></p>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1657162701&redirect_uri=https://vast-caverns-42052.herokuapp.com/users/auth/line/callback&state=02dc5388fcc0caaba6b789037efe2943330612d8408b8080
             &scope=profile%20openid%20email">LINEでログインはこちら
    </a>
  <% end %>
<% end %>

</div>
</div>