<% provide(:title, @user.name) %>

<div class="p-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab_a" class="nav-link" data-toggle="tab">マイページ</a>
    </li>
    <li class="nav-item">
      <a href="#tab_b" class="nav-link" data-toggle="tab">いいね!</a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div id="tab_a" class="tab-pane active">
    <div class="main user-show">
      <div class="container">
       <div class="row">
        <div class="col-md-11">
        <div class="user">
          <h><%= @user.name %></h>
          <% if current_user?(@user) %>
            <p><%= link_to "編集", edit_user_registration_path, class:"btn btn-success" %><p>
          <% end %>
        </div>
        </div>
       </div>
      </div>
      <div class="container">
        <% @user.posts.each do |post| %>
          <div class="posts-index-item">
            <%= post.university %>
            <%= link_to post.title, post_path(post.id) %><br>
            <%= post.description %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="tab_b" class="tab-pane">
    <div class="main my-like">
    <!-- 変数@favoritesに対してeach文を用いてください -->
    <% @favorites.each do |favorite| %>
      <!-- 変数postを定義してください -->
      <% post=Post.find_by(id:favorite.post_id) %>
 
      <div class="posts-index-item">
        <div class="post-user-name">
          <%= link_to post.user.name, user_path(post.user.id) %>
        </div>
            
        <div class="post-lecture-info">
          <%= post.university %>
          <%= link_to post.title, post_path(post.id) %><br>
          <%= post.description %>
          <!--写真の表示-->
          <% if post.img.present? %>
            <div class="img-area" %>
              <%= image_tag post.img.url %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>