<div class="main posts-index">
  <div class="container">
    <%= search_form_for @search, url:posts_path do |f| %>
      <%=f.text_field :university_eq %>
      <%= f.submit %>
    <% end %>
    
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-user-name">
          <%= link_to post.user.name, user_path(post.user.id) %>
        </div>
          <%= post.university %>
          <%= link_to post.title, post_path(post.id) %>
      </div>
    <% end %>
  </div>
</div>
