<% provide(:title, '@post.title') %>

<h1>授業の詳細</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered" id="post-table">
      <tbody>
       <tr>
         <th class="active col-md-2">大学名</th>
         <td class="col-md-10"><%=@post.university %></td>
       </tr>
       <tr>
         <th class="active col-md-2">学部名</th>
         <td class="col-md-10"><%=@post.department %></td>
       </tr>
       <tr>
         <th class="active col-md-2">学科名</th>
         <td class="col-md-10"><%=@post.branch %></td>
       </tr>
       <tr>
         <th class="active">授業名</th></th>
         <td><%=@post.title %></td>
       </tr>
       <tr>
         <th class="active">詳細</th>
         <td>
           <%= auto_link(safe_join(@post.description.split("\n"),tag(:br))) %>
         </td>
       </tr> 
       <tr>
         <th class="active">作成日</th>
         <td><%=l(@post.created_at,format: :long)%></td>
       </tr>
       <tr>
         <th class="active">更新日</th>
         <td><%=l(@post.updated_at, format: :long) %></td>
       </tr> 
      </tbody>
     </table>
     
     <!--写真の表示-->
     <div class="img-area" %>
       <%= image_tag @post.img.url %>
     </div>
     
     <div class="btn-wrapper">
     <% if @post.user_id==current_user.id || current_user.admin? %>
      <%=link_to "編集",edit_post_path,class:"btn btn-lg btn-success" %>
      <%=link_to "削除",post_path, method: :delete, data:{confirm:"「#{@post.title}」を削除します。よろしいですか？"},class:"btn btn-lg btn-danger" %>
     <% end %>
     
     <!--いいね-->
     <% if current_user.admin? %>
       <% if @post.like?(current_user) %>
         <%= link_to '#', disabled:true do %>
           <span class="fa fa-heart liked-btn">︎</span>
         <% end %>
       <% else %>
         <%=link_to '#', disabled:true do %>
           <span class="fa fa-heart unliked-btn">️</span>
         <% end %>
       <% end %>
       <%=@likes_count %>
     <% end %>
     <% unless current_user.admin? %>
       <% if @post.like?(current_user) %>
         <%= link_to post_like_path(@post), method: :delete do %>
           <span class="fa fa-heart liked-btn">︎</span>
         <% end %>
       <% else %>
         <%=link_to post_likes_path(@post), method: :post do %>
           <span class="fa fa-heart unliked-btn">️</span>
         <% end %>
       <% end %>
       <%=@likes_count %>
     <% end %>
     </div>
    </div>
  </div>
</div>